<div class="certificates-marquee marquee lg:w-3/6 mb-8 lg:mb-0" data-marquee-duration="50">
    <div class="marquee__inner h-full">
        <div class="marquee__content flex h-full me-[5rem] gap-[5rem] !opacity-[1]">
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/cyber-essentials.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/cyber-essentials.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px] z-[2]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/exercito.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/exercito.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/anac.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/anac.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/eed.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/eed.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/forca.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/forca.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/qms.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/qms.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/cyber-essentials.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/cyber-essentials.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/exercito.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/exercito.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/anac.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/anac.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/eed.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/eed.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/forca.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/forca.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
            <div class="certificate-item relative flex items-center justify-center">
                <img src="{{ 'clients-color/qms.png'|media }}" alt="Modirum" class="certificate-colored relative !max-w-[300px] z-[1]">
                <img src="{{ 'clients/qms.png'|media }}" alt="Modirum" class="certificate-white absolute !max-w-[300px]">
            </div>
        </div>
    </div>
</div>