<div class="marquee lg:w-3/6 mb-8 lg:mb-0" data-marquee-duration="50">
    <div class="marquee__inner h-full">
        <div class="marquee__content flex h-full me-[5rem] gap-[5rem] !opacity-[1]">
            <div class="">
                <img src="{{ 'clients/cyber-essentials.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/sword-1.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/anac.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/eed.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/sword-2.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/qms.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/cyber-essentials.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/sword-1.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/anac.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/eed.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/sword-2.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
            <div class="">
                <img src="{{ 'clients/qms.png'|media }}" alt="Modirum" class="!max-w-[300px]">
            </div>
        </div>
    </div>
</div>