<div class="marquee reveal-fade-in reveal-fade-in--up" data-marquee-duration="75">
    <div class="marquee__inner h-full">
        <div class="marquee__content flex h-full items-center me-[2rem] md:me-[3rem] lg:me-[5rem] gap-[2rem] md:gap-[3rem] lg:gap-[5rem] !opacity-[1]">
            <div class="">
                <p class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl leading-none text-[#587554] font-bold">
                    OUR PARTNERS
                </p>
            </div>
            <div class="">
                {% partial 'icons/gespi-icon--small' %}
            </div>
            <div class="">
                <p class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl leading-none text-[#587554] font-bold">
                    OUR PARTNERS
                </p>
            </div>
            <div class="">
                {% partial 'icons/gespi-icon--small' %}
            </div>
            <div class="">
                <p class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl leading-none text-[#587554] font-bold">
                    OUR PARTNERS
                </p>
            </div>
            <div class="">
                {% partial 'icons/gespi-icon--small' %}
            </div>
            <div class="">
                <p class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl leading-none text-[#587554] font-bold">
                    OUR PARTNERS
                </p>
            </div>
            <div class="">
                {% partial 'icons/gespi-icon--small' %}
            </div>
            <div class="">
                <p class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl leading-none text-[#587554] font-bold">
                    OUR PARTNERS
                </p>
            </div>
            <div class="">
                {% partial 'icons/gespi-icon--small' %}
            </div>
            <div class="">
                <p class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl leading-none text-[#587554] font-bold">
                    OUR PARTNERS
                </p>
            </div>
            <div class="">
                {% partial 'icons/gespi-icon--small' %}
            </div>

        </div>
    </div>
</div>