<footer class="site-footer overflow-hidden section-padding-lg--t hasShape reveal-fade-in reveal-fade-in--up" id="main-footer">
    <div class="xl:container section-padding--x lg:!px-[3rem] footer--wrapper relative z-20">
        <div class="footer-content bg-gradient4 section-padding--x pt-[2rem] lg:pt-[4rem] rounded-[var(--btn-border-radius)]">
            <div class="hidden lg:flex items-end justify-between pb-[2rem]">
                <a href="{{ 'home'|page }}" class="footer-logo">
                    <img width="300"  src="{{ 'globals/logo-light.svg'|media }}" alt="Modirum" class="img-fluid lazyload" aria-label="Go to home">
                </a>
            </div>
            <div class="footer-top flex items-center justify-between mb-20 gap-[3rem]">
                <h2 class="underline text-white fs-inbetween">Connect with <br> us today.</h2>
                <img class="hidden xs:block w-[80px] sm:w-[120px] md:w-[135px] lg:w-[200px]" src="{{ 'globals/gespi-monogram.png'|media }}" alt="">
            </div>
            <div class="flex lg:hidden items-center justify-between pb-[2rem] gap-[2rem] flex-wrap">
                <a href="{{ 'home'|page }}" class="footer-logo">
                    <img src="{{ 'globals/logo-light.svg'|media }}" alt="Modirum" class="img-fluid max-w-[200px]" aria-label="Go to home">
                </a>
                <a class="flex items-center justify-center w-[1.4rem]" href="">
                    {% partial 'icons/social/linkedin' %}
                </a>
            </div>
            <div class="footer-bottom">
                <div class="footer-menu border-t-[1px] border-[var(--border-light)] flex gap-10 flex-col lg:flex-row justify-between py-10 lg:py-10 text-white">
                    <ul class="flex flex-wrap gap-x-6 md:gap-x-10 gap-y-2 md:gap-y-0">
                        {# <li><a class="btn-underlined btn-underlined--light btn-underlined--v2" href="#">Platforms</a></li> #}
                        <li><a class="btn-underlined btn-underlined--light btn-underlined--v2 text-base lg:text-lg" href="javascript:;">Company</a></li>
                        <li><a class="btn-underlined btn-underlined--light btn-underlined--v2 text-base lg:text-lg" href="javascript:;">Products</a></li>
                        <li><a class="btn-underlined btn-underlined--light btn-underlined--v2 text-base lg:text-lg" href="javascript:;">Careers</a></li>
                        <li><a class="btn-underlined btn-underlined--light btn-underlined--v2 text-base lg:text-lg" href="{{ "news/index"|page }}">News</a></li>
                        <li><a class="btn-underlined btn-underlined--light btn-underlined--v2 text-base lg:text-lg" href="javascript:;">Contact</a></li>
                    </ul>
                    <a class="hidden lg:flex items-center justify-center w-[1.2rem]" href="javascript:;">
                        {% partial 'icons/social/linkedin' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:container section-padding--x py-[1.75rem]">
        <div class="flex flex-row items-center justify-between w-full">
            <p class="text-base lg:text-lg text-white text-start lg:text-center">
                © Modirum Gespi 2025. 
            </p>
            <p class="text-base lg:text-lg text-white">
                web by <a href="https://kara5.com/" target="_blank" class="btn-underlined btn-underlined--light !normal-case underlined">kara5</a>
            </p>
        </div>
    </div>
</footer>