<div class="container header--wrapper py-[1rem] lg:py-0 relative z-[1]">
    <a href="{{ 'home'|page }}" class="header-logo justify-self-start">
        <img src="{{ 'globals/logo-light.svg'|media }}" alt="Modirum" data-light="{{ 'globals/logo-light.svg'|media }}" data-dark="{{ 'globals/logo-dark.svg'|media }}">
    </a>
    <nav class="main-navigation hidden lg:block">
        <ul class="menu-list">
            <li class="list--item">
                <a href="{{ 'company'|page }}" class="list--link">Company</a>
            </li>
            <li class="list--item dropdown-parent">
                <a href="{{ 'products'|page }}" class="list--link dropdown-parent--link">Products</a>
                <div class="dropdown-menu">
                    <ul class="hover-opacity flex flex-col gap-[.5rem] relative z-[1]">
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Command & Control
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Air Systems
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Naval Systems
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                    Ammunition
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Engineering & Services
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list--item">
                <a href="{{ 'careers'|page }}" class="list--link">Careers</a>
            </li>
            <li class="list--item">
                <a href="{{ 'news'|page }}" class="list--link">News</a>
            </li>
        </ul>
    </nav>

    
    <div class="nav-right justify-self-end hidden lg:block">
        {# <div class="search-wg flex items-center">
            <span class="icon mr-5">
                {% partial 'icons/search--icon' %}
            </span>
            Search
        </div> #}
        {# <a href="{{ 'contact'|page }}" class="btn-primary-dark-outline arrow-btn w-fit lg:justify-self-end !py-[.7rem] !px-[2rem] !gap-[1rem]">
            <span class="btn-text">Get in touch</span>
            <span class="btn-icon">
                {% partial 'icons/arrow-right' %}
            </span>
        </a> #}
        <a href="{{ 'company'|page }}" class="gespi-cta btn-bg-gradient inline-block p-size flex w-fit">
            <span></span>
            <span class="btn-text uppercase">
                Get in touch
            </span>
        </a>
    </div>
    <button class="menuBtn justify-self-end block lg:hidden">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </button>
</div>

<nav class="mobile-navigation slide-menu block lg:hidden" id="mobile-menu">
    <ul class="slide-menu__submenu flex flex-col" data-lenis-prevent>
        <li>
            <div class="list--link-cont flex border-b-[1px] border-[var(--primary-darker)]">
                <a href="{{ 'company'|page }}" class="list--link w-full !border-r-0">Company</a>
            </div>
        </li>
        {# <li class="flex list--link-cont">
            <div class="w-full flex">
                <a href="{{ 'about'|page }}" class="list--link w-full">About us</a>
            </div>
            <a href="#" class=" text-[var(--primary-dark)] !flex items-center justify-center">
                <i class="las la-arrow-right"></i>
            </a>

            <ul class="" id="platforms-submenu-level-1">
                <li class="flex list--link-cont">
                    <a href="#" class="w-full !flex items-center justify-center gap-[1.5rem] list--link w-full slide-menu__backlink slide-menu__control !border-l-[0]" data-action="back">
                        <i class="text-[var(--primary-dark)] las la-arrow-left !px-[0]"></i>
                        <span href="#" class="">Group</span>
                    </a>
                </li>
                <li class="flex list--link-cont">
                    <div class="w-full flex">
                        <a href="{{ 'about'|page }}" class="list--link w-full">About us</a>
                    </div>
                    <a href="#" class=" text-[var(--primary-dark)] !flex items-center justify-center">
                        <i class="las la-arrow-right"></i>
                    </a>
                </li>
                <li class="flex list--link-cont">
                    <div class="w-full flex">
                        <a href="{{ 'group/careers'|page }}" class="list--link w-full">Careers</a>
                    </div>
                    <a href="#" class=" text-[var(--primary-dark)] !flex items-center justify-center">
                        <i class="las la-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li> #}
        <li class="flex list--link-cont">
            <div class="w-full flex">
                <a class="list--link w-full">Products</a>
            </div>
            <a class="text-white !flex items-center justify-center">
                <i class="las la-arrow-right"></i>
            </a>

            <ul class="flex flex-col gap-[.5rem]">
                <li class="flex list--link-cont">
                    <a href="#" class="w-full !flex items-center justify-center gap-[1.5rem] list--link w-full slide-menu__backlink slide-menu__control !border-l-[0]" data-action="back">
                        <i class="text-white las la-arrow-left !px-[0]"></i>
                        <span class="">Products</span>
                    </a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Command & Control</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Air Systems</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Naval Systems</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Ammunition</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Engineering & Services</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list--link-cont flex border-b-[1px] border-[var(--primary-darker)]">
                <a href="{{ 'news/index'|page }}" class="list--link w-full !border-r-0">News</a>
            </div>
        </li>
        <li>
            <div class="list--link-cont flex border-b-[1px] border-[var(--primary-darker)]">
                <a href="{{ 'contact'|page }}" class="list--link w-full !border-r-0">Contact</a>
            </div>
        </li>
    </ul>       
</nav>