<div class="xl:container section-padding--x xl:!px-[3rem] header--wrapper py-[1rem] lg:py-0 relative z-[1]">
    <a href="{{ 'home'|page }}" class="header-logo justify-self-start">
        <img src="{{ 'globals/logo-light.svg'|media }}" alt="Modirum" data-light="{{ 'globals/logo-light.svg'|media }}" data-dark="{{ 'globals/logo-dark.svg'|media }}">
    </a>
    <nav class="main-navigation hidden lg:block">
        <ul class="menu-list">
            <li class="list--item">
                <a href="javascript:;" class="list--link">Company</a>
            </li>
            <li class="list--item dropdown-parent">
                <a href="javascript:;" class="list--link dropdown-parent--link">Products</a>
                <div class="dropdown-menu">
                    <ul class="hover-opacity flex flex-col gap-[.5rem] relative z-[1]">
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Command & Control
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Air Systems
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Naval Systems
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                    Ammunition
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link flex gap-[2rem] justify-between" href="javascript:;">
                                Engineering & Services
                                <span class="icon icon--arrow flex items-center justify-center">
                                    {% partial 'icons/arrow-right--icon' %}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="list--item">
                <a href="javascript:;" class="list--link">Careers</a>
            </li>
            <li class="list--item">
                <a href="javascript:;" class="list--link">News</a>
            </li>
        </ul>
    </nav>

    
    <div class="nav-right justify-self-end hidden lg:block">
        <div class="hover-blob-wrap">
            <a href="javascript:;" class="hover-blob-container gespi-cta btn-bg-gradient rounded-[var(--btn-border-radius)] inline-block p-size">
                <div class="hover-blob--inner rounded-[var(--btn-border-radius)] relative z-[11] flex w-fit">
                    <span class="btn-bg-gradient2 absolute top-0 left-0 w-full h-full z-[1] rounded-[var(--btn-border-radius)]"></span>
                    <span class="btn-text relative !z-[12]">
                        Get in touch
                    </span>
                    <div class="blob blob--btn z-[-1]"></div>
                    <div class="fakeblob z-[-1]"></div>
                </div>
            </a>
        </div>
    </div>
    <button class="menuBtn justify-self-end block lg:hidden">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </button>
</div>

<nav class="mobile-navigation slide-menu block lg:hidden" id="mobile-menu">
    <ul class="slide-menu__submenu flex flex-col" data-lenis-prevent>
        <li>
            <div class="list--link-cont flex border-b-[1px] border-[var(--primary-darker)]">
                <a href="javascript:;" class="list--link w-full !border-r-0">Company</a>
            </div>
        </li>
        <li class="flex list--link-cont">
            <div class="w-full flex">
                <a class="list--link w-full">Products</a>
            </div>
            <a class="text-white !flex items-center justify-center">
                <i class="las la-arrow-right"></i>
            </a>

            <ul class="flex flex-col gap-[.5rem]">
                <li class="flex list--link-cont">
                    <a href="javascript:;" class="w-full !flex items-center justify-center gap-[1.5rem] list--link w-full slide-menu__backlink slide-menu__control !border-l-[0]" data-action="back">
                        <i class="text-white las la-arrow-left !px-[0]"></i>
                        <span class="">Products</span>
                    </a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Command & Control</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Air Systems</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Naval Systems</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Ammunition</a>
                </li>
                <li class="flex list--link-cont">
                    <a class="list--link w-full !border-r-0" href="javascript:;" target="_blank">Engineering & Services</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list--link-cont flex border-b-[1px] border-[var(--primary-darker)]">
                <a href="javascript:;" class="list--link w-full !border-r-0">News</a>
            </div>
        </li>
        <li>
            <div class="list--link-cont flex border-b-[1px] border-[var(--primary-darker)]">
                <a href="javascript:;" class="list--link w-full !border-r-0">Contact</a>
            </div>
        </li>
    </ul>       
</nav>