<svg class="gespi-icon" width="370" height="481" viewBox="0 0 370 481" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path id="path"
        d="M185.301 103.553L186.044 103.966V102.65L186.141 102.598L369.5 1.59473V287.134L304.145 250.922L304.638 123.733L304.641 122.886L303.897 123.292L187.696 186.89L185.785 185.868H185.786L68.6055 121.086L67.8643 120.676V329.751L68.1172 329.895L191.556 399.91L191.801 400.049L192.047 399.911L265.8 358.681L266.583 358.243L265.798 357.808L186.943 314.087V230.286L368.472 330.778V380.368L187.856 480.428L0.5 377.302V0.849609L185.301 103.553Z"
        stroke="url(#paint0_linear_0_1)" />
    <g class="top-ellipse" style="mix-blend-mode:screen" filter="url(#filter0_f_0_1)">
        <ellipse cx="96.4212" cy="54.0066" rx="47.9105" ry="4.79252" transform="rotate(28.405 96.4212 54.0066)"
            fill="url(#paint1_radial_0_1)" fill-opacity="0.67" />
    </g>
    <g style="mix-blend-mode:screen" filter="url(#filter1_f_0_1)">
        <ellipse class="bottom-ellipse" cx="283.863" cy="426.83" rx="57" ry="5" transform="rotate(-30 283.863 426.83)"
            fill="url(#paint2_radial_0_1)" />
    </g>
    <defs>
        <filter id="filter0_f_0_1" x="48.3168" y="24.9248" width="96.2102" height="58.1635" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="2.95" result="effect1_foregroundBlur_0_1" />
        </filter>
        <filter id="filter1_f_0_1" x="228.536" y="392.099" width="110.655" height="69.4621" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="2.95" result="effect1_foregroundBlur_0_1" />
        </filter>
        <linearGradient id="paint0_linear_0_1" x1="-2.74699e-06" y1="24.5" x2="319" y2="454.5"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#587554" stop-opacity="0" />
            <stop offset="1" stop-color="#587554" />
        </linearGradient>
        <radialGradient id="paint1_radial_0_1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(89.2827 54.0217) rotate(33.7921) scale(8.58966 27.2822)">
            <stop stop-color="#89B783" />
            <stop offset="1" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="paint2_radial_0_1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(275.371 426.846) rotate(30.4076) scale(9.84737 29.5382)">
            <stop stop-color="#89B783" />
            <stop offset="1" stop-opacity="0" />
        </radialGradient>
    </defs>
</svg>

